/* General Styles for the "About Me" Section */
.about-me {
    padding: 20px;
    text-align: center;
}

.main-section {
    margin-bottom: 20px;
}

#intro-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#more-content {
    font-size: 1.2em;
    margin-top: 10px;
}

.read-more-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.read-more-link:hover {
    text-decoration: underline;
}

/* Styles for Card Container */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

/* General Card Styles */
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(30% - 20px);
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 80px; /* Adjusted size */
    height: 80px; /* Adjusted size */
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; /* Ensures image fits within the bounds */
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    color: #666;
}

.card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

/* YouTube Header Styles */
.youtube-header {
    background: #FF0000;
    color: #fff;
}

/* Instagram Header Styles */
.instagram-header {
    background: linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7);
    color: #fff;
}

/* Photo Header Styles */
.photo-header {
    background: #cfcfcf;
    color: #ffffff;
}

/* Card Link Styles */
.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover {
    text-decoration: none;
}

/* Footer Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

footer {

    text-align: center;
    padding: 10px;
    margin-top: auto; /* Pushes the footer to the bottom */
}