/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


.menu-toggle {
    display: none; /* Hide menu toggle by default */
}
.customhr
    {
        border: 3px;
        height: 10px;
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    }


h1 {
    margin: 0;
    font-size: 24px;
}

/* Resume Section Styles */
#resume {
    padding: 20px;
}

/* Header within the Resume Section */
.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.resume-header h1 {
    margin: 0;
}

.resume-download {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-word {
    background-color: #0078d4; /* Blue color for Word */
}

.btn-word i {
    color: white; /* White icon color for Word */
}

.btn-word:hover {
    background-color: #316d9b; /* Darker blue on hover for Word */
    box-shadow: 0 0 10px rgba(0, 120, 212, 0.5); /* Blue glow on hover for Word */
}

.btn-pdf {
    background-color: #e34f26; /* Red color for PDF */
}

.btn-pdf i {
    color: white; /* White icon color for PDF */
}

.btn-pdf:hover {
    background-color: #bf3f3f; /* Darker red on hover for PDF */
    box-shadow: 0 0 10px rgba(227, 79, 38, 0.5); /* Red glow on hover for PDF */
}

.btn i {
    margin-right: 8px;
}

/* Resume Body Styles */
#resumebody {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.resume-name {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info, .social-links {
    margin: 10px 0;
}

.contact-info {
    font-size: 16px;
}


h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h4 {
    margin: 0;
    font-size: 16px;
}

.highlight {
    color: #0078d4;
    font-weight: bold;
}

.project-title {
    font-size: 18px;
    margin-top: 20px;
}

.project-info {
    font-size: 16px;
    color: #555;
}

.date {
    font-style: italic;
}


/* Media Queries for Responsiveness */

/* Mobile Devices */
@media (max-width: 480px) {
    .resume-download {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Small Tablets and Mobile Landscape */
@media (min-width: 481px) and (max-width: 768px) {
    .resume-download {
        flex-direction: row;
        justify-content: center;
    }

    .btn {
        font-size: 15px;
        padding: 9px 18px;
    }
}
